<div class="w-full info">
  <a href="/"><img
      src="{{link}}"
      alt="image"
      class="rounded-md border-double"
    /></a>
  <div class="overlay">
    <div class="text">{{user.name}}</div>
  </div>
</div>