<!-- Loop over each object in the projects array -->

<div class="bg-black hidden lg:block w-full  h-screen">
    <div class="grid h-screen px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
          <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-white sm:text-4xl md:mx-auto">
              Sketch it, post it, like it.
            </h2>
            <p class="text-base text-indigo-100 md:text-lg">
              Draw.me is your community's favorite drawing platform
            </p>

          </div>
                      <img src="./img/frame2.png" alt="famous paintings framed" class = "front-frame">
          <div class="max-w-10xl mx-auto m-8">
    <h2 class="w-full my-2 text-5xl font-bold leading-tight text-center text-white">
      Discover
    </h2>
    <div class="flex flex-wrap">
      <div class="w-5/6  sm:w-1/2 p-6 flex justify-center items-center">
        <div class="align-middle">
        <h3 class="text-3xl text-white flex  font-bold leading-none mb-3">
        PUT YOUR SKILLS TO THE TEST
        </h3>
        <p class="text-white mb-8">
          Whether you're working on a school poster or brainstorming your next comic book character, Draw.me makes it easy to bring your ideas to life.
        </p>
        </div>
      </div>
      <div class="w-full sm:w-1/2 p-6">
      <img src="./img/demo.png"/>
      </div>
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
      <img src = "./img/demo3.png" />
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6 flex justify-center items-center">
        <div class="align-middle">
          <h3 class="text-3xl text-white font-bold leading-none mb-3">
            POST AND SHARE YOUR ART
          </h3>
          <p class="text-white mb-8">
            Draw together with your friends. If you've ever wanted to share the joy of drawing with a friend, now you can do that using this application!
          </p>
        </div>
      </div>
    </div>
      <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6 flex justify-center items-center ">
        <div class="align-middle">     
        <h3 class="text-3xl text-white font-bold leading-none mb-3">
        INTERACT WITH COMMUNITY
        </h3>
        <p class="text-white mb-8">
          Leave feedback on your favorite artwork and interact with your fellow Draw.me users with our social networking service.
        </p>
        </div>
      </div>
      <div class="w-full sm:w-1/2 p-6">
      <img src = "/img/demo2.png" />
      </div>
    </div>
    
  </div>
      
  <footer class="footer">
  <h2>Made with ❤️️ by The Crazy 🎱</h2>
  <p>
      &copy; 2022 
  </p>
</footer>
  
  </div>
  
</div>



          
    
    
