body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
  font-family: "Poppins", sans-serif !important;
}

.additionalBody {
  overflow: hidden;
}

.paint {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#toolbar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100px;
  background-color: #000000;
  text-align: center;
  color: white;
}

#toolbar * {
  margin-bottom: 6px;
}

#toolbar label {
  font-size: 12px;
}

#toolbar input {
  width: 100%;
  cursor: pointer;
}

input[type="range"] {
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: #fffefb;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px #7b7f80;
}

#toolbar button {
  background-color: white;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin-top: 10;
  cursor: pointer;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
  align-items: center;
  justify-content: center;
}

li {
  float: left;
}

li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  justify-content: center;
  background-color: black;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.frame {
  width: 940px;
  height: 1000px;
}

.frame img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

#img {
  object-fit: cover;
}
.active,
.btn:hover {
  background-color: #666;
  color: white;
}

.navbar {
  display: inline-block;
  background-color: grey;
  width: 100%;
  height: 50%;
  color: white;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 756px) {
  .navbar {
    font-size: 0.7rem;
  }
  #toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  #toolbar button {
    padding: 10px;
  }
}

.navbar li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  background-color: #111;
}
#logout {
  cursor: pointer;
}

.log-right {
  display: flex !important;
  justify-content: center;
}
.paintings {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 60%;
  display: block;
}

.slide {
  width: 50% !important;
  height: 80% !important;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
  margin: auto;
  border: solid 30px #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

.info {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0, 0.5);
}

.info:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.drawing {
  width: 80%;
  height: 80%;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
  border: solid 30px #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-sizing: border-box;
}

.drawing-a {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.footer {
  padding: 30px;
  clear: both;
  text-align: center;
  color: white;
}

.footer h2 {
  font-size: 20px;
}

.front-frame {
  box-shadow: 0px 4px 2px -2px rgba(255, 255, 255, 0.4);
}

.drawing-container {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}
.gallery,
#canvas {
  width: 50%;
}
#image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#canvas {
  display: block;
  height: auto;
}

@media screen and (max-width: 756px) {
  .gallery {
    display: none;
  }
  #canvas {
    width: 100%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
